@charset "UTF-8";

$baseclr: #F2F0E9;
$mainclr: #7D6D8C;
$accentclr1: #F2B3B3;
$accentclr2: #7A7474;

body {
    font-family: "Roboto", "Noto Sans JP", sans-serif;
    background-color: #F2F0E9;
    

    #wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
}

main {
    flex: 1;
}

header {
    background-color: $mainclr;
    color: $baseclr;
}

button {
    display: inline-block;
    text-align: center;
    padding:  0 10px;
    color: $mainclr;
    border-radius: 30px;

}
footer {
    background-color: $mainclr;
    color: $baseclr;
    width: 100%;
    align-items: flex-end;

    small {
        text-align: center;
    }
}
@media screen and (max-width: 600px) {}


@media screen and (min-width: 900px) {}