@charset "UTF-8";

$baseclr: #F2F0E9;
$mainclr: #7D6D8C;
$accentclr1: #F2B3B3;
$accentclr2: #7A7474;

body {
    font-family: "Roboto", "Noto Sans JP", sans-serif;
    background-color: $baseclr;
    flex-direction: column;
    height: 100vh;
    display: flex;
}

header {
    background: linear-gradient(to right, $mainclr, $accentclr1);
    color: $baseclr;
    padding: 5px;
    margin-bottom: 40px;
    text-align: center;

}

input[type="checkbox"] {
    margin-left: 30px;
}

input[type="text"] {
    margin-left: 30px;

}

.donestyle {
    text-decoration: line-through;
    color: $accentclr2;
}
.v-enter {
    opacity: 0;
}
.v-enter-active {
    transition: 1s;
}

.count p {
    font-size: 14px;
    margin: 9px 28px;


}

.clear-btn {
    display: inline-block;
    text-align: center;
    color: $mainclr;
    box-shadow: 2px 2px;
    border-radius: 4px;
    padding: 0 10px;
    margin: 0 0 10px 30px;
    

    &:active {
        transform: translate(1px,1px);
        box-shadow: none;
    }
}

.all-btn {
    display: inline-block;
    text-align: center;
    color: $mainclr;
    box-shadow: 2px 2px;
    border-radius: 4px;
    padding: 0 18px;
    margin: 15px 0 10px 10px;
    

    &:active {
        transform: translate(1px,1px);
        box-shadow: none;
    }

}

footer {
    background: linear-gradient(to right, $mainclr, $accentclr1);
    color: $baseclr;
    width: 100%;
    margin-top: auto;
    text-align: center;
    padding: 12px 0;

}

@media screen and (max-width: 600px) {}


@media screen and (min-width: 900px) {}